svg {
  vertical-align: middle;
  width: 4.5em;
  height: 1.5em;
}
.loader_container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.loader {
  display: flex;
  justify-content: center;
  align-items: center;
}

.dots{
  width: 200px;
  height: 200px;
}